# object and dependency files
*.[od]

# files ending and starting with ~ used by some text editors
*~
~*

# directories
out/
bin/
test/*

# do not ignore files used for testing
!/test/file1.txt
!/test/file2.txt
